{% extends "layouts/base.html" %}

{% block title %} Items {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/assets/lib/DataTables/datatables.min.css"/>
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Items</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="../index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Items</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
              <div class="card-header-right">
								<a href="{{ url_for("item_blueprint.create_item") }}" type="button" class="btn btn-primary text-white"><i class="feather icon-plus"></i> Create</a>
							</div>
						</div>
						<div class="card-body">
							<div class="card-body table-border-style">
              {% include 'includes/flashes.html' %}
                <div class="table-responsive">
                    <table class="table hover table-hover table-sm w-100">
                        <thead>
                            <tr>
                              <th style="width: 20%">Name</th>
                              <th>Category</th>
                              <th style="width: 30%">Description</th>
                              <th>Code</th>
                              <th>Brand</th>
                              <th>Model</th>
                              <th style="width: 20%" class="text-right">Price</th>
                              <th>Purchased Date</th>
                              <th>Serial</th>
                              <th>Supplier</th>
                              <th class="text-right">Qty<br/>On Hand</th>
                              <th class="text-right">Unit<br/>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for item in items %}
                            <tr data-item-id="{{ item.id }}" class="hoverable">
                              <td>{{ item.name }}</td>
                              <td>{{ item.category.name }}</td>
                              <td>{{ item.description }}</td>
                              <td>{{ item.code }}</td>
                              <td>{{ item.brand }}</td>
                              <td>{{ item.model }}</td>
                              <td>{{ item.unit_price }}</td>
                              <td>{{ item.purchased_date | datepretty}}</td>
                              <td>{{ item.serial }}</td>
                              <td>{{ item.supplier.name }}</td>
                              <td class="text-right">{{ item.qty if item.qty else 0 }}</td>
                              <td class="text-right">&#8369; {{ item.unit_price }}</td>
                            </tr>
                          {% endfor %}
                          {% if not items %}
                            <tr>
                              <td colspan="7" class="text-center">
                                No Items
                              </td>
                            </tr>
                          {% endif %}
                        </tbody>
                    </table>
                </div>
              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="/static/assets/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript">
  $('.table').dataTable({
      "columnDefs": [
            {
                "targets": [ 3, 7 ],
                "visible": false,
                "searchable": true
            }
        ],
      "sScrollX": '100%'
  });

  $('.table tbody').on('click', 'tr', function (e) {
      e.preventDefault();
      let id = $(this).data('itemId');
      if(id){
        window.location.href = "/items/"+id
        return false;
      }
   });
</script>
{% endblock javascripts %}
