{% extends "layouts/base.html" %}

{% block title %} Edit Request {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{#  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.min.css") }}" />#}
  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.theme.material_blue.css") }}" />
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Edit Request: {{ obj.number }}</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="/requests">Requests</a></li>
								<li class="breadcrumb-item"><a href="/requests/{{ obj.id }}">{{ obj.number }}</a></li>
								<li class="breadcrumb-item"><a href="#!">Edit</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						{#<div class="card-header">
						</div>#}
						<div class="card-body">
							<div class="table-border-style pt-3">

              {% if msg %}
                <div class="alert alert-warning" role="alert">
                {{ msg | safe }}
                </div>
              {% endif %}

                <form role="form" method="post" action="">
                  {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="col-md-6">
                      {#<div class="form-group row">
                          <label for="department" class="col-sm-3 col-form-label">Department</label>
                          <div class="col-sm-9">
                            {{ form.department_id(class="form-control") }}
                          </div>
                      </div>#}
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-3 col-form-label">Date Needed</label>
                          <div class="col-sm-9">
                            {{ form.date_needed(class="form-control flatpickr") }}
                          </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                          <label for="department" class="col-sm-3 col-form-label">Endorsed by</label>
                          <div class="col-sm-9">
                            {{ form.endorsed_by(class="form-control") }}
                          </div>
                      </div>
                    </div>
                  </div>

                  <h5 class="mt-4">Request Items</h5>
                  <hr />

                  <div class="table-border-style">
                    <div class="table-responsive pb-1">
                        <table class="table" id="requestItems">
                          <thead>
                            <th width="">Name</th>
                            <th width="">Description</th>
                            <th class="text-right" width="110">Quantity</th>
                            <th class="text-right" width="125">Unit Price</th>
                            <th class="text-right" width="100">Subtotal</th>
                            <th width="80"></th>
                          </thead>
                          <tbody>

                          {% set i = namespace(value=0)  %}
                          {% for line in form.request_lines %}
                              <tr id="lines_{{ i.value }}">
                                <td>
                                  {{ line.form.name(class="form-control form-control-sm", required=True) }}
                                </td>
                                <td>
                                  {{ line.form.description(class="form-control form-control-sm") }}
                                </td>
                                <td class="text-right">
                                  {{ line.form.qty(class="form-control form-control-sm text-right qty") }}
                                </td>
                                <td class="text-right">
                                  {{ line.form.unit_price(class="form-control form-control-sm text-right price") }}
                                </td>
                                {% if line.form.qty.data == None %}
                                  {% set qty = 0  %}
                                {% else %}
                                  {% set qty = line.form.qty.data  %}
                                {% endif %}
                                {% if line.form.unit_price.data == None %}
                                  {% set unit_price = 0  %}
                                {% else %}
                                  {% set unit_price = line.form.unit_price.data  %}
                                {% endif %}
                                <td class="text-right"><input type="text" class="form-control-sm form-control-plaintext text-right total" readonly="readonly" value="{{ "%.2f"|format(qty * unit_price) }}"></td>
                                <td>
                                  {{ line.form.hidden_tag() }}
                                  <button type="button" role="button" class="btn delete btn-danger feather icon-delete"></button>
                                </td>
                              </tr>
                            {% set i.value = i.value + 1 %}
                          {% endfor %}
                          </tbody>
                        </table>
                      <button type="button" id="addItem" class="btn btn-dark btn-sm btn-add-entry">Add Item</button>
                    </div>
                  </div>

                    <div class="form-group row mt-4 border-top border-gray pt-2">
                        <div class="col-sm-10">
                            <button type="submit" name="submit_request" class="btn btn-primary btn-submit">Save</button>
                            <a href="{{ url_for("request_blueprint.view_request", id=obj.id) }}" class="btn btn-light ml-2">Cancel</a>
                        </div>
                    </div>
                </form>
              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{{ url_for("static", filename="assets/js/plugins/flatpickr.min.js") }}"></script>
  <script type="text/javascript">
  $(function(){

    $(".flatpickr").flatpickr({
        minDate: "today",
        altInput: true,
        defaultDate: "today",
        altFormat: "F j, Y",
        dateFormat: "Y-m-d"
    });

    var tbody = $('table#requestItems tbody');
    var tr = tbody.find("tr:last");
    var num = tr ? parseInt($(tr).attr('id').split('_')[1]) : 0;

    $('button#addItem').on('click', function (e){
        e.preventDefault();
        let csrf = $('#csrf_token').val();
        num++;
        if(tr){
            let str = '<tr id="lines_'+num+'">' +
                '<td><input class="form-control form-control-sm" id="request_lines-'+num+'-name" name="request_lines-'+num+'-name" type="text" value="" required="required"></td>' +
                '<td><input class="form-control form-control-sm" id="request_lines-'+num+'-description" name="request_lines-'+num+'-description" type="text" value=""></td>' +
                '<td class="text-right"><input class="form-control form-control-sm text-right qty" id="request_lines-'+num+'-qty" name="request_lines-'+num+'-qty" type="number" value=""></td>' +
                '<td class="text-right"><input class="form-control form-control-sm text-right price" id="request_lines-'+num+'-unit_price" name="request_lines-'+num+'-unit_price" step="any" type="number" value=""></td>' +
                '<td class="text-right"><input type="text" class="form-control-sm form-control-plaintext text-right total" readonly="readonly" value="0.00"></td>' +
                '<td>' +
                '<input id="request_lines-0-id" name="request_lines-'+num+'-id" type="hidden" value="">' +
                '<input id="request_lines-0-csrf_token" name="request_lines-'+num+'-csrf_token" type="hidden" value="'+csrf+'">' +
                '<button type="button" role="button" class="btn delete btn-danger feather icon-delete"></button>' +
                '</td>' +
                '</tr>';
            tbody.append(str);
        }
    });

    $(document).on('click', 'button.delete', function (e){
        e.preventDefault();
        let $this = $(this)

        if($("#requestItems tbody").find('tr').length > 1){
            $this.closest("tr").remove();
        }else{
            $.alert({
                title: 'Please don\'t do it.',
                content: 'Atleast 1 item needs to be retained.',
                type: 'red',
                typeAnimated: true,
                buttons: {
                    ok: {
                        text: 'Ok',
                        btnClass: 'btn-red',
                        action: function(){
                        }
                    }
                }
            });
        }

    });

    $(document).on('change', 'input.qty, input.price', function (){
        let $this = $(this);
        let a = $this.val();
        let b;

        if($this.hasClass('qty')){
          b = $this.closest('tr').find('input.price').val()
        }else{
          b = $this.closest('tr').find('input.qty').val()
        }

        a = isNaN(parseFloat(a)) ? 0 : a;
        b = isNaN(parseFloat(b)) ? 0 : b;

        $this.closest('tr').find('input.total').val(get_total(a, b).toFixed(2));
    });

  });
  </script>
{% endblock javascripts %}
{% include 'requests/script.html' %}
