{% extends "layouts/base.html" %}

{% block title %} Requests {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{#  <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">#}
  <link rel="stylesheet" type="text/css" href="/static/assets/lib/DataTables/datatables.min.css"/>
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Requests</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Requests</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
              <div class="card-header-right">
								<a href="/requests/create" type="button" class="btn btn-primary"><i class="feather icon-plus"></i> Create</a>
							</div>
						</div>
						<div class="card-body">
              <div class="table-border-style pt-3">

              {% include 'includes/flashes.html' %}

                <div class="table-responsive">
                    <table class="table hover table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Reference No.</th>
                                <th>Requisitor</th>
                                <th>Date Requested</th>
                                <th>Date Needed</th>
                                <th>Department</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for request in requests %}
                            <tr data-line-id="{{ request.id }}" class="hoverable">
                              <td>{{ request.number }}</td>
                              <td>{{ request.user.full_name }}</td>
                              <td>{{ request.date_request }}</td>
                              <td>{{ request.date_needed }}</td>
                              <td>{{ request.department.name }}</td>
                              <td><span class="badge badge-status badge-{{ RequestStatusList[request.status]['name'] }}">{{ RequestStatusList[request.status]['description'] }}</span></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" src="/static/assets/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript">
$(function (){
    var table =  $('.table').DataTable({
      "order": [[ 2, "desc" ], [0, "desc"]],
      "columnDefs": [{
                "render": function ( data, type, row ) {
                    return DateTime.fromISO(data).setLocale("en").toLocaleString(DateTime.DATE_FULL);
                },
                "targets": [2, 3]
            },]
  });
   $('.table tbody').on('click', 'tr', function (e) {
      e.preventDefault();
      id = $(this).data('lineId');
      window.location.href = "/requests/"+id
      return false;
   });
})

</script>
{% endblock javascripts %}
