{% extends "layouts/base.html" %}

{% block title %} Request: {{ obj.Number }} {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{#  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.min.css") }}" />#}
  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.theme.material_blue.css") }}" />
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">{{ obj.number }}</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="/requests">Requests</a></li>
								<li class="breadcrumb-item"><a href="#!">{{ obj.number }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
              <div class="card-header-left">
                <a class="btn btn-light btn-sm" href="{{ url_for('request_blueprint.edit_request', id=obj.id) }}">Edit <i class="feather icon-edit-1"></i></a>
                <form role="form" method="POST" id="confirmForm" action="{{ url_for("request_blueprint.confirm_request", id=obj.id) }}">
                  <input type="hidden" name="confirm_request" value="1">
                  <button id="confirm_request" type="submit" class="btn btn-sm delete btn-primary">Confirm <i class="feather icon-check-circle"></i></button>
                </form>
                 </div>
              <div class="card-header-right">
                <form role="form" method="POST" id="deleteForm" action="{{ url_for("request_blueprint.delete_request", id=obj.id) }}">
                  <input type="hidden" name="delete_request" value="1">
                  <button id="delete_request" type="submit" class="btn btn-sm delete btn-danger">Delete <i class="feather icon-trash-2"></i></button>
                </form>
							</div>
						</div>
						<div class="card-body">
							<div class="table-border-style pt-3">
              {% include 'includes/flashes.html' %}

               {# <form role="form" method="post" action="">
                  {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                          <label for="department" class="col-sm-3 col-form-label">Department</label>
                          <div class="col-sm-9">
                            {{ form.department_id(class="form-control") }}
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="department" class="col-sm-3 col-form-label">Endorsed by</label>
                          <div class="col-sm-9">
                            {{ form.endorsed_by(class="form-control") }}
                          </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-3 col-form-label">Date Needed</label>
                          <div class="col-sm-9">
                            {{ form.date_needed(class="form-control flatpickr") }}
                          </div>
                      </div>
                    </div>
                  </div>

                  <h5 class="mt-4">Request Items</h5>
                  <hr />

                  <div class="table-border-style">
                    <div class="table-responsive pb-1">
                        <table class="table" id="requestItems">
                          <thead>
                            <th width="">Description</th>
                            <th width="110">Quantity</th>
                            <th width="125">Unit Price</th>
                            <th width="130">Total</th>
                            <th width="80"></th>
                          </thead>
                          <tbody>

                          {% set i = namespace(value=0)  %}
                          {% for line in form.request_lines %}
                              <tr id="lines_{{ i.value }}">
                                <td>
                                  {{ line.form.description(class="form-control") }}
                                </td>
                                <td>
                                  {{ line.form.qty(class="form-control qty") }}
                                </td>
                                <td>
                                  {{ line.form.unit_price(class="form-control price") }}
                                </td>
                                {% if line.form.qty.data == None %}
                                  {% set qty = 0  %}
                                {% else %}
                                  {% set qty = line.form.qty.data  %}
                                {% endif %}
                                {% if line.form.unit_price.data == None %}
                                  {% set unit_price = 0  %}
                                {% else %}
                                  {% set unit_price = line.form.unit_price.data  %}
                                {% endif %}
                                <td><input type="text" class="form-control form-control-plaintext total" readonly="readonly" value="{{ "%.2f"|format(qty * unit_price) }}"></td>
                                <td>
                                  {{ line.form.hidden_tag() }}
                                  <button type="button" role="button" class="btn delete btn-danger feather icon-delete"></button>
                                </td>
                              </tr>
                            {% set i.value = i.value + 1 %}
                          {% endfor %}
                          </tbody>
                        </table>
                      <button type="button" id="addItem" class="btn btn-dark btn-sm btn-add-entry">Add Item</button>
                    </div>
                  </div>

                    <div class="form-group row mt-4 border-top border-gray pt-2">
                        <div class="col-sm-10">
                            <button type="submit" name="submit_request" class="btn btn-primary btn-submit">Save</button>
                        </div>
                    </div>
                </form>#}

              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{{ url_for("static", filename="assets/js/plugins/flatpickr.min.js") }}"></script>
  <script type="text/javascript">
  $(function(){

    $('#delete_request').on('click', function (e){
        e.preventDefault();
      $.confirm({
        title: '<span class="text-danger">Delete Request</span>',
        content: 'Are you sure you want to delete this request?',
        type: 'red',
        theme: "bootstrap",
        buttons: {
            yes: {
                btnClass: 'btn-danger',
                action: function () {
                    $('form#deleteForm').submit()
                }
            } ,
            no: function () {
            }
        }
      });

      return confirm;
    });


  });
  </script>
{% endblock javascripts %}
{% include 'requests/script.html' %}
