{% extends "layouts/base.html" %}

{% block title %} Request: {{ obj.Number }} {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{#  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.min.css") }}" />#}
  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.theme.material_blue.css") }}" />
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">{{ obj.number }}</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="/requests">Requests</a></li>
								<li class="breadcrumb-item"><a href="#!">{{ obj.number }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header border-bottom border-gray">
              {% if not obj.is_confirmed %}
                <div class="card-header-left">
                  <a class="btn btn-light btn-sm" href="{{ url_for('request_blueprint.edit_request', id=obj.id) }}">Edit <i class="feather icon-edit-1"></i></a>
                  <form role="form" method="POST" id="confirmForm">
                    <input type="hidden" name="confirm_request" value="1">
                    <button id="confirm_request" type="submit" class="btn btn-sm confirm btn-primary">Confirm <i class="feather icon-check-circle"></i></button>
                  </form>
                 </div>
                <div class="card-header-right">
                  <form role="form" method="POST" id="deleteForm">
                    <input type="hidden" name="delete_request" value="1">
                    <button id="delete_request" type="submit" class="btn btn-sm delete btn-danger">Delete <i class="feather icon-trash-2"></i></button>
                  </form>
                </div>
              {% else %}
                <div class="progress">
                {% set percentage = (obj.status / RequestStatusEnum.done.value) * 100 %}
                <div class="progress-bar progress-bar-striped bg-{{ RequestStatusList[obj.status]['name'] }}" role="progressbar" aria-valuenow="{{ obj.status }}" aria-valuemin="{{ RequestStatusEnum.draft.value }}" aria-valuemax="{{ RequestStatusEnum.done.value }}" style="width: {{ get_percentage(obj.status, RequestStatusEnum.done.value) }}">
                  {{ status_progress_label(obj.status) }}
                </div>
                </div>
              {% endif %}
						</div>
						<div class="card-body">
							<div class="table-border-style pt-3">
              {% include 'includes/flashes.html' %}

                <div class="row pt-3">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <div class="col-sm-3"><span class="hljs-strong">Reference No.:</span></div>
                      <div class="col-sm-9">
                        {{ obj.number }}
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"><span class="hljs-strong">Requisitor:</span></div>
                      <div class="col-sm-9">
                        {{ obj.user.full_name }}
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"><span class="hljs-strong">Department:</span></div>
                      <div class="col-sm-9">
                        {{ obj.department.name }}
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"><span class="hljs-strong">Date Requested:</span></div>
                      <div class="col-sm-9">
                        {{ obj.date_request.strftime('%B %d, %Y') }}
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group row">
                      <div class="col-sm-3"><span class="hljs-strong">SY:</span></div>
                      <div class="col-sm-9">
                        {{ obj.sy_start }} - {{ obj.sy_end }}
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"><span class="hljs-strong">Endorsed by:</span></div>
                      <div class="col-sm-9">
                        {{ obj.endorsed_by }}
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"><span class="hljs-strong">Date Needed:</span></div>
                      <div class="col-sm-9">
                        {{ obj.date_needed.strftime('%B %d, %Y') }}
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"><span class="hljs-strong">Status:</span></div>
                      <div class="col-sm-9">
                        <span class="badge badge-status badge-{{ RequestStatusList[obj.status]['name'] }}">{{ RequestStatusList[obj.status]['description'] }}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row pt-3">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table hover table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th width="100" class="text-right">Quantity</th>
                                <th width="150" class="text-right">Unit Price</th>
                                <th width="150" class="text-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for item in obj.request_lines %}
                            <tr data-line-id="{{ item.id }}">
                              <td>{{ item.name }}</td>
                              <td>{{ item.description }}</td>
                              <td class="text-right">{{ item.qty }}</td>
                              <td class="text-right">&#8369; {{ item.unit_price }}</td>
                              <td class="text-right">&#8369; {{ item.total }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9"></div>
                    <div class="col-md-3">
                    <div class="form-group row">
                      <div class="col-sm-5 text-right border-top border-gray pt-1"><h5>Total</h5></div>
                      <div class="col-sm-6 text-right border-top border-gray pt-1">
                        <span style="font-size: 16px;">&#8369; {{ obj.total }}</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{{ url_for("static", filename="assets/js/plugins/flatpickr.min.js") }}"></script>
  <script type="text/javascript">
  $(function(){

  {% if not obj.is_confirmed %}
    $('#delete_request').on('click', function (e){
      e.preventDefault();
      $.confirm({
        title: '<span class="text-danger">Delete Request</span>',
        content: 'Are you sure you want to delete this request?',
        type: 'red',
        typeAnimated: true,
        buttons: {
            yes: {
                btnClass: 'btn-danger',
                action: function () {
                    $('form#deleteForm').attr("action", "{{ url_for("request_blueprint.delete_request", id=obj.id) }}").submit()
                }
            } ,
            no: function () {
            }
        }
      });

      return confirm;
    });

    $('#confirm_request').on('click', function (e){
      e.preventDefault();

      $.confirm({
        title: '<span class="text-primary">Confirm Request</span>',
        content: '<p>Confirm when you are ready!</p>' +
            '<small class="mt-2 text-muted text-sm"><span class="text-warning">Note:</span> Please make sure all the data are correct before submitting. Once the request confirmed, it cannot be edited or deleted.</small>',
        type: 'blue',
        typeAnimated: true,
        buttons: {
            confirm: {
                btnClass: 'btn-primary',
                action: function () {
                    $('form#confirmForm').attr("action", "{{ url_for("request_blueprint.confirm_request", id=obj.id) }}").submit()
                }
            } ,
            cancel: function () {
            }
        }
      });
    });
  {% else %}
  {% endif %}

  });
  </script>
{% endblock javascripts %}
{% include 'requests/script.html' %}
