{% extends "layouts/base.html" %}

{% block title %} Sample Page {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Departments</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="../index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Departments</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
              <div class="card-header-right">
								<a href="/departments/create" type="button" class="btn btn-primary text-white"><i class="feather icon-plus"></i> Create</a>
							</div>
						</div>
						<div class="card-body">
							<div class="card-body table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="th_action" width="20%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for department in departments %}
                            <tr>
                              <td>{{ department.name }}</td>
                              <td>{{ department.name }}</td>
                            </tr>
                          {% endfor %}
                          {% if not departments %}
                            <tr>
                              <td colspan="2">
                                No Departments
                              </td>
                            </tr>
                          {% endif %}
                        </tbody>
                    </table>
                </div>
              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
