{% extends "layouts/base.html" %}

{% block title %} Create New Inventory {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{#  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.min.css") }}" />#}
  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.theme.material_blue.css") }}" />
  <link rel="stylesheet" href="{{ url_for("static", filename="assets/lib/Selectize/css/selectize.bootstrap4.css") }}" />
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">New Inventory</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="/inventories">Inventories</a></li>
								<li class="breadcrumb-item"><a href="#!">New</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						{#<div class="card-header">
						</div>#}
						<div class="card-body">
							<div class="table-border-style pt-3">

              {% if msg %}
                <div class="alert alert-warning" role="alert">
                {{ msg | safe }}
                </div>
              {% endif %}

                <form role="form" method="post" action="">
                  {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-3 col-form-label">Request</label>
                          <div class="col-sm-9">
                            {{ form.request_id(class="form-control") }}
                          </div>
                      </div>
                    </div>

                    <div class="col-md-6">

                    </div>
                  </div>

                  <h5 class="mt-4">Inventory Items</h5>
                  <hr />

                  <div class="table-border-style">
                    <div class="table-responsive pb-1">
                        <table class="table table-small" id="inventoryItems">
                          <thead>
                            <th width="">Item</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th width="">Category</th>
                            <th>Supplier</th>
                            <th class="text-right">Qty</th>
                            <th class="text-right">Price</th>
                          <th></th>
                          </thead>
                          <tbody>

                          {#{% set i = namespace(value=0)  %}
                          {% for line in form.request_lines %}
                              <tr id="lines_{{ i.value }}">
                                <td>
                                  {{ line.form.name(class="form-control form-control-sm", required=True) }}
                                </td>
                                <td>
                                  {{ line.form.description(class="form-control form-control-sm") }}
                                </td>
                                <td class="text-right">
                                  {{ line.form.qty(class="form-control form-control-sm qty text-right") }}
                                </td>
                                <td class="text-right">
                                  {{ line.form.unit_price(class="form-control form-control-sm price text-right") }}
                                </td>
                                <td class="text-right"><input type="text" class="form-control-sm form-control-plaintext text-right total" readonly value="0.00"></td>
                                <td>
                                  {{ line.form.hidden_tag() }}
                                  <button type="button" role="button" class="btn delete btn-danger feather icon-delete"></button>
                                </td>
                              </tr>
                            {% set i.value = i.value + 1 %}
                          {% endfor %}#}
                          </tbody>
                        </table><button type="button" id="addItem" class="btn btn-dark btn-sm btn-add-entry">Add Item</button>
                    </div>
                  </div>

                    <div class="form-group row mt-4 border-top border-gray pt-2">
                        <div class="col-sm-10">
                           {{form.submit(class="btn btn-primary btn-submit", value="Save")}}
{#                            <button type="submit" name="create_request" class="btn  btn-primary">Create</button>#}
                        </div>
                    </div>
                </form>
              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

  <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header p-2 pl-3 pr-3">
          <h5 class="modal-title" id="addItemModalLabel">Add Inventory Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link new-item-tab active" id="existingItemTab" data-toggle="pill" href="#existingItemContent" role="tab" aria-selected="true" data-existing="1">Existing Item</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link new-item-tab" id="newItemTab" data-toggle="pill" href="#newItemContent" role="tab" aria-selected="false" data-existing="0">New Item</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="existingItemContent" role="tabpanel" aria-labelledby="pills-existing-item-tab">
              <form action="">
                <select name="item_id" id="searchExistingItem" class="form-control" placeholder="Select Existing Item"></select>

                <input type="hidden" name="existing" value="1" />

                <div class="row border-top border-gray pt-3 mt-3">
                  <button type="submit" class="btn btn-primary mr-2">Add Item</button>
                  <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="newItemContent" role="tabpanel" aria-labelledby="pills-new-item-tab">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{{ url_for("static", filename="assets/js/plugins/flatpickr.min.js") }}"></script>
  <script src="{{ url_for("static", filename="assets/lib/Selectize/js/standalone/selectize.min.js") }}"></script>
  <script type="text/javascript">

  $(function(){

    function refreshAddItemModal(modal){
      alert('refreshed');
      //is_existing=0
    }

    $(".flatpickr").flatpickr({
        minDate: "today",
        altInput: true,
        defaultDate: "today",
        altFormat: "F j, Y",
        dateFormat: "Y-m-d"
    });

    $('button#addItem').on('click', function (e){
        e.preventDefault();
        $('#addItemModal').modal("show")
    });

    $('#addItemModal').on('show.bs.modal', function (e) {
        refreshAddItemModal(this);
    });

    $('a.new-item-tab[data-toggle="pill"]').on('shown.bs.tab', function (e) {
        $('input[name=is_existing]').val($(e.target).data('existing'))
    })

      $('#searchExistingItem').selectize()

  });

  </script>
{% endblock javascripts %}
{% include 'requests/script.html' %}
