{% extends "layouts/base.html" %}

{% block title %} Create New Inventory {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{#  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.min.css") }}" />#}
  <link rel="stylesheet" type="text/css" href="/static/assets/lib/DataTables/datatables.min.css"/>
  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.theme.material_blue.css") }}" />
  <link rel="stylesheet" href="{{ url_for("static", filename="assets/lib/Selectize/css/selectize.bootstrap4.css") }}" />
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">New Inventory</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="/inventories">Inventories</a></li>
								<li class="breadcrumb-item"><a href="#!">New</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						{#<div class="card-header">
						</div>#}
						<div class="card-body">
							<div class="table-border-style pt-3">

              {% if msg %}
                <div class="alert alert-warning" role="alert">
                {{ msg | safe }}
                </div>
              {% endif %}

                <form role="form" method="post" action="">
                  {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-3 col-form-label">Request</label>
                          <div class="col-sm-9">
                            {{ form.request_id(class="form-control") }}
                          </div>
                      </div>
                    </div>

                    <div class="col-md-6">

                    </div>
                  </div>

                  <h5 class="mt-4">Inventory Items</h5>
                  <hr />

                  <div class="table-border-style">
                    <div class="table-responsive pb-1">
                        <table class="table table-small" id="inventoryItems">
                          <thead>
                            <th width="">Item</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th width="">Category</th>
                            <th>Supplier</th>
                            <th class="text-right">Qty</th>
                            <th class="text-right">Price</th>
                            <th></th>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                        <button type="button" id="addItem" class="btn btn-dark btn-sm btn-add-entry">Add Item</button>
                    </div>
                  </div>
                  <div class="form-group row mt-4 border-top border-gray pt-2">
                    <div class="col-sm-10">
                       {{form.submit(class="btn btn-primary btn-submit", value="Save")}}
                    </div>
                  </div>
                </form>
              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

  <div class="modal fade" id="addItemModal" data-backdrop="static" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header p-2 pl-3 pr-3">
          <h5 class="modal-title" id="addItemModalLabel">Add Inventory Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link new-item-tab active" id="existingItemTab" data-toggle="pill" href="#existingItemContent" role="tab" aria-selected="true" data-existing="1">Select Existing Item</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link new-item-tab" id="newItemTab" data-toggle="pill" href="#newItemContent" role="tab" aria-selected="false" data-existing="0">New Item</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="existingItemContent" role="tabpanel" aria-labelledby="pills-existing-item-tab">
              {#<form id="searchExistingForm" action="">
                <div class="form-row align-items-center bg-light border rounded shadow-none p-2">
                  <div class="col-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text p-2"><small>Search By</small></div>
                      </div>
                      <select id="filter" class="form-control">
                        <option value="name">Name</option>
                        <option value="category">Category</option>
                        <option value="code">Code</option>
                        <option value="brand">Brand</option>
                        <option value="model">Model</option>
                        <option value="serial">Serial</option>
                        <option value="description">Description</option>
                        <option value="supplier">Supplier</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="input-group">
                      <input type="text" name="search_query" id="searchQuery" class="form-control w-auto" />
                      <div class="input-group-append">
                        <div class="input-group-text"><i class="feather icon-search"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>#}
              <div class="table-responsive mt-4">
                <table class="table table-small" id="searchItemTable">
                  <thead>
                    <th width="">Name</th>
                    <th>Code</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Serial</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th class="text-right">Qty<br />On Stock</th>
                    <th class="text-right">Price</th>
                    <th></th>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="tab-pane fade" id="newItemContent" role="tabpanel" aria-labelledby="pills-new-item-tab">

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{{ url_for("static", filename="assets/js/plugins/flatpickr.min.js") }}"></script>
  <script src="{{ url_for("static", filename="assets/lib/Selectize/js/standalone/selectize.min.js") }}"></script>
  <script type="text/javascript" src="/static/assets/lib/DataTables/datatables.min.js"></script>
  <script type="text/javascript">

  $(function(){

    $('button#addItem').on('click', function (e){
        e.preventDefault();
        $('#addItemModal').modal("show")
    });

    $('#addItemModal').on('show.bs.modal', function (e) {
        $('#searchItemTable').DataTable({
            "ajax": {
                // "url": "static/objects2.txt", // This works for a static file
                "url": "/items/json", // This now also works
                "dataType": "json",
                "method": "POST",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "columns": [
                {"data": "name"},
                {"data": "item_code"},
                {"data": "brand", "visible": false, "searchable": true},
                {"data": "model", "visible": false, "searchable": true},
                {"data": "serial", "visible": false, "searchable": true},
                {"data": "description", "visible": false, "searchable": true},
                {"data": "category"},
                {"data": "supplier"},
                {"data": "qty"},
                {"data": "unit_price"},
                {"data": "id", "render": function (data, type, row, meta){
                    console.log(data, type, row, meta)
                        return  "<button class='btn btn-dark btn-sm'>Select</button>";
                  } }
            ]
        });
    });

    $('#addItemModal').on('hidden.bs.modal', function (e) {
      $('#searchItemTable').DataTable().clear().destroy();
    });

    $('a.new-item-tab[data-toggle="pill"]').on('shown.bs.tab', function (e) {
        $('input[name=is_existing]').val($(e.target).data('existing'))
    });


    $("#searchExistingForm").on("submit", function(e){ e.preventDefault(); return false; });

  });

  </script>
{% endblock javascripts %}
{% include 'requests/script.html' %}
