{% extends "layouts/base.html" %}

{% block title %} Create New Inventory {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/assets/lib/DataTables/datatables.min.css"/>
  <link rel="stylesheet" href="{{ url_for("static", filename="assets/css/plugins/flatpickr.theme.material_blue.css") }}" />
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">New Inventory</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="/inventories">Inventories</a></li>
								<li class="breadcrumb-item"><a href="#!">New</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						{#<div class="card-header">
						</div>#}
						<div class="card-body">

              {% include 'includes/flashes.html' %}

							<div class="table-border-style pt-3">

              {% if msg %}
                <div class="alert alert-warning" role="alert">
                {{ msg | safe }}
                </div>
              {% endif %}

                <form role="form" method="post" action="">
                  {{ form.hidden_tag() }}

                  <div class="table-border-style">
                    <div class="table-responsive pb-1">
                        <table class="table table-small" id="inventoryItems">
                          <thead>
                            <th width="">Name</th>
                            <th>Code</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th width="100" class="text-right">Purchased Date</th>
                            <th class="text-right">Price</th>
                            <th width="100" class="text-right">Qty</th>
                            <th></th>
                          </thead>
                          <tbody>
                          {% for line in form.inventory_items %}
                            <tr>

                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                        <button type="button" id="addItem" class="btn btn-dark btn-sm btn-add-entry">Add Item</button>
                    </div>
                  </div>
                  <div class="form-group row mt-4 border-top border-gray pt-2">
                    <div class="col-sm-10">
                       {{form.submit(class="btn btn-primary btn-submit", value="Save")}}
                    </div>
                  </div>
                </form>
              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

  <div class="modal fade" id="addItemModal" data-backdrop="static" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header p-2 pl-3 pr-3">
          <h5 class="modal-title" id="addItemModalLabel">Add Inventory Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link new-item-tab active" id="existingItemTab" data-toggle="pill" href="#existingItemContent" role="tab" aria-selected="true" data-existing="1">Select Existing Item</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link new-item-tab" id="newItemTab" data-toggle="pill" href="#newItemContent" role="tab" aria-selected="false" data-existing="0">New Item</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="existingItemContent" role="tabpanel" aria-labelledby="pills-existing-item-tab">
              <div class="table-responsive mt-4">
                <table class="table table-small" id="searchItemTable" width="100%">
                  <thead>
                    <th width="">Name</th>
                    <th>Code</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Serial</th>
                    <th>Description</th>
                    <th>Department</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th class="text-right">Qty<br />On Stock</th>
                    <th class="text-right">Price</th>
                    <th></th>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="tab-pane fade" id="newItemContent" role="tabpanel" aria-labelledby="pills-new-item-tab">
              <form action="POST" id="createNewItemForm" class="pt-4">
                  <div class="alert alert-danger new-error" style="display: none" role="alert"></div>
                  <div class="form-group row">
                      <label for="name" class="col-sm-3 col-form-label">Name</label>
                      <div class="col-sm-9">
                        <input class="form-control" id="name" name="name" required="" type="text" value="">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="department_id" class="col-sm-3 col-form-label">Department</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="department_id" name="department_id" required="" placeholder="Select Department.."></select>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="category_id" class="col-sm-3 col-form-label">Category</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="category_id" name="category_id" required="" placeholder="Select Category.."></select>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="supplier_id" class="col-sm-3 col-form-label">Supplier</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="supplier_id" name="supplier_id" required="" placeholder="Select Supplier.."></select>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="item_code" class="col-sm-3 col-form-label">Item Code</label>
                      <div class="col-sm-9">
                        <input class="form-control" id="item_code" name="item_code" type="text" value="">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="brand" class="col-sm-3 col-form-label">Brand</label>
                      <div class="col-sm-9">
                        <input class="form-control" id="brand" name="brand" type="text" value="">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="model" class="col-sm-3 col-form-label">Model</label>
                      <div class="col-sm-9">
                        <input class="form-control" id="model" name="model" type="text" value="">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="description" class="col-sm-3 col-form-label">Description</label>
                      <div class="col-sm-9">
                        <input class="form-control" id="description" name="description" type="text" value="">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="unit_price" class="col-sm-3 col-form-label">Unit Price</label>
                      <div class="col-sm-9">
                        <input class="form-control" id="unit_price" name="unit_price" required="" step="any" type="number" value="0.00">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-10">
                          <button type="submit" name="create_item" class="btn  btn-primary">Create and Add to Inventory</button>
                      </div>
                  </div>
              </form>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{{ url_for("static", filename="assets/js/plugins/flatpickr.min.js") }}"></script>
  <script type="text/javascript" src="/static/assets/lib/DataTables/datatables.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/inventory.js"></script>
  <script type="text/javascript">

  $(function(){

    $(".flatpickr").flatpickr({
      minDate: "today",
      altInput: true,
      defaultDate: "today",
      altFormat: "F j, Y",
      dateFormat: "Y-m-d"
    });

    loadSelectCategory();
    loadSelectSupplier();
    loadSelectDepartment();

  });

  </script>
{% endblock javascripts %}
{% include 'requests/script.html' %}
