{% extends "layouts/base.html" %}

{% block title %} Requests {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{#  <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">#}
  <link rel="stylesheet" type="text/css" href="/static/assets/lib/DataTables/datatables.min.css"/>
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Recent Inventories</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Recent Inventories</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-body">
              <div class="table-border-style pt-3">

              {% include 'includes/flashes.html' %}

                <div class="table-responsive">
                    <table class="table table-hover table-sm w-100">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Category</th>
                                <th>Date & Time</th>
                                <th>Purchased Date</th>
                                <th>SY</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">Qty Allocated</th>
                                <th class="text-right">Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for inventory in inventories %}
                            <tr data-line-id="{{ inventory.id }}">
                              <td>{{ inventory.item.name }}</td>
                              <td>{{ inventory.item.category.name }}</td>
                              <td>{{ inventory.date_time | datetimepretty }}</td>
                              <td>{{ inventory.item.purchased_date | datepretty }}</td>
                              <td>{{ inventory.sy_start }} - {{ inventory.sy_end }}</td>
                              <td class="text-right">&#8369; {{ inventory.item.unit_price }}</td>
                              <td class="text-right">{{ inventory.qty }}</td>
                              <td class="text-right">{{ inventory.item.qty }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" src="/static/assets/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript">
$(function (){
    $('.table').DataTable({
      "order": [],
      "sScrollX": '100%',
      "pageLength": 50
    });
})

</script>
{% endblock javascripts %}
